<!DOCTYPE html>
<html>
<head>
    <title>Pokemon Database</title>
</head>
<body>
    <h1>Bienvenido a la base de datos de Pokémon</h1>
    <ul>
        <li><a href="/consultar_entrenadores">Consultar Entrenadores y sus Pokemones</a></li>
        <li><a href="/consultar_batallas">Consultar Batallas</a></li>
        <li><a href="/cargar_entrenador">Cargar Entrenador y Pokemon</a></li>
        <li><a href="/cargar_batalla">Crear datos de batallas</a></li>
        <li><a href="/eliminar_entrenador">Eliminar Entrenador</a></li>
        <li><a href="/modificar_entrenador">Modificar Entrenador</a></li>
    </ul>
</body>
</html>
